<header>
  <%= link_to 'Memoria', root_path, id: 'logo' %>
  <nav>
    <% if request.path != root_path %>
      <ul class="navigation">
        <li class="header-menu"><%= link_to 'ログアウト', '#' %></li>
        <li class="header-menu"><%= link_to 'プロフィール', '#' %></li>
        <li class="header-menu"><%= link_to '設定', '#' %></li>
      </ul>
    <% end %>
  </nav>
</header>
